.all {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
li {
    position: relative;
    left: 15%;
    margin-top: 5%;
}

#checkbox {
    margin-top: 5%;
}
#entrys {
  width: 120%;
}

#delete {
  border-radius: 32px;
  margin-left: 5%;
}

#submit {
  border-radius: 32px;
  margin-left: 3%;
}

#inputF {
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  outline: none;
}

input:not(:checked) {
    margin-left: 5%;
}
input:checked {
    margin-left: 5%;
}